<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/styleMerchants.css'/>
  </head>
  <body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/merchants/indexMerchant" style="padding: 5px; color: #5786b7;"> <b> OUVRIER </b></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="padding: 2px;">
        <li>
          <a class="nav-link" href="/merchants/indexMerchant"> Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/merchants/merchantPage"> My profile <span class="sr-only"></span></a>
        </li>
        <li>
          <a class="nav-link" href="/merchants/products"> Add product <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/merchants/products"> Products catalog <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <form method="post" action="/merchants/searchProduct" class="form-inline my-2 my-lg-0" style="margin-right: 3%">
      <input type="text" class="form-control mr-sm-2" placeholder="Search product..." name='searchProduct' aria-label="Search">
      <input type="submit" class="btn btn-info my-2 my-sm-0" value ="Search" style="background-color: #294553;">
    </form>
    <form method="post" action="/merchants/searchShop" class="form-inline my-2 my-lg-0">
      <input type="text" class="form-control mr-sm-2" placeholder="Search shop..." name='searchShop' aria-label="Search">
      <input type="submit" class="btn btn-info my-2 my-sm-0" value ="Search" style="background-color: #294553;">
    </form>
    <form action="/merchants/logout" method="post">
      <a href="/merchants/merchantPage" style="color: #5786b7;"> <small style=" padding: 15px; color: #294553"> <%=user%> </small></a>
      <span class="dot2"><img src="../images/Profile_pictures/<%= shop[0].profilepicture_path%>" class="responsive-img"></span>
      <input type="submit" value="Log out" class="btn btn-info" style="background-color: #294553">
    </form>
  </nav>
  <div class="d-flex flex-row flex-wrap my-flex-container"  style="margin-bottom: 3%; margin-top: -3%; background-color: #FFFFFF; height: 200px;">
    <div class="p-2 my-flex-item" style=" height: 10%; ">
      <form method="post" action="/merchants/categoryFilter">
        <label for="category">Select category</label>
        <select  name="category" class="form-control">
          <%for(let i = 0; i < categories.length; i++) {%>
            <option  name="category">
              <%= categories[i].categoryname%>
            </option>
          <%}%>
        </select> <br>
        <input type="submit" value="Filter" class="btn btn-info" style="background-color: #263a5c; ">
      </form>
    </div>
  </div>
  <% if(categoryFilter.length !== 0) {%>
    <div class="d-flex flex-row flex-wrap my-flex-container"  style="margin-bottom: 3%; margin-top: -3%; background-color: #FFFFFF;">
          <% for(let i = 0; i < categoryFilter.length; i++) { %>
            <div class="p-2 my-flex-item">
              <a href="/customers/product/<%=categoryFilter[i].product_id%>">
                <img  src="../images/products/<%= categoryFilter[i].photo_path[0] %>" class="responsive-img">
                <p style="color:#294553;">
                  <%= categoryFilter[i].product_name %> <br>
                  <%= categoryFilter[i].price %> KM <br>
                  <%= categoryFilter[i].shopname %> <br>
                </p>
              </a>
            </div>
          <%}%>
    </div>
  <%}%>
  <% if(categoryFilter.length === 0) {%>
    <div class="d-flex flex-row flex-wrap my-flex-container"  style="margin-bottom: 3%; margin-top: -3%; background-color: #FFFFFF; ">
      <p style=" text-align: center; width: 100%;"> No items in this category! </p>
    </div>
  <%}%>
  </body>
</html>
